
/* .todo-item:hover{
  background: var(--primary-color);
  transition: .3s;
  border:1px solid var(--font-secondary-color);
  color:var(--font-primary-color)
}    */
.todo-completed{
  /* background: var(--primary-color);
  border:1px solid var(--font-secondary-color);
  color:var(--font-primary-color) */
}

.tool-checkbox{
  background: transparent;
}

