:root{
  --primary-color: #9c6644 ;
  --secondary-color: #7f5539 ;
  --font-primary-color: #ede0d4;
  --font-secondary-color: #e6ccb2;
  --heading-color:#ddb892;
  --sub-heading: #b08968;

}
body{
  background: var(--primary-color) !important;
  /* background:  linear-gradient(0deg, rgba(156, 102, 68) 0%, rgba(195,141,107) 46%, rgb(199, 150, 120) 100%) !important; */
  color: var(--font-primary-color) !important;
  height:100vh;
  font-family: 'Josefin Sans', sans-serif !important;
}
.container{
  display:flex;
  justify-content: center;
  align-items: center;
}
